/* Sidebar Styles */
.sidebar {
    height: 100vh;
    position: fixed;
  }
  
  .user-info img {
    border: 2px solid #ddd;
    height: 3em;
    width: 3em;
  }
  
  .user-info h6 {
    color: #333;
  }
  
  .nav-link {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #007bff;
  }
  
  /* Main Content */
  main {
    margin-left: 200px;
  }
  
  .card-title {
    font-size: 14px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 20px;
  }
  