
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
.btn-light{
    background-color: #edf0ef !important;
}
.btn-light:hover{
  border-color: transparent !important;
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}